.pokedexBody {
    margin: 0px;
    background-color: black;
}



.laboratoryBody {
    margin: 0px;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTOY0UoFdmfpNtw9esKt6zMVIUskAyXGU9zJg&usqp=CAU");
}

.laboratoryMain {
    display: flex;
    justify-content: space-around;
}
.navigation {
    list-style: none;
    margin: 0%;
    padding: 0%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 50px;
}

.pokemons {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0px;
}

.filteredPokemons {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin: 0px;
}

.pokemonCard {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid yellow;
    margin: 5px;
    width: 250px;
    height: 350px;
    background-color:black;
    color: yellow;
}

.pokemonCard:hover {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid blue;
    margin: 5px;
    width: 350px;
    height: 450px;
    background-color:black;
    color: yellow;
}

.filteredCard {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin: 5px;
    width: 100%;
    height: 500px;
    background-color:black;
    color: yellow;  
}

.filteredUl > ul {

        list-style: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 25px;
  
}

.filteredCardImg {
    width: 40%;
    max-width: 350px;
    min-width: 200px;
}


img {
    width: 100%;
    height: 50%;
    background-color:black
    
}

.mappedCardP {
    margin: 2px;
}

.pokemonName {
    margin: 20px 0 5px 0;
}

.filterContent {
    display: flex;
    justify-content: center;
    margin: 30px 0;
    height: 50px;
}

.filterInput {
    width: 400px;
    background-color: black;
    align-items: center;
    border: 2px solid yellow;
    padding-left: 5px;
    color: yellow;
    margin-right: 10px;
}

.filterInput:focus {
    border: 5px solid blue
}

::placeholder {
    color: yellow;
    font-size: 11px;
    text-transform: uppercase;
}

.pokeapiDiv {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 300px;
}
.pokeapiIMG {
    width: 600px;
    height: 400px;
}

button {
    background-color: yellow;
    margin-right: 10px;
    border-radius: 20px;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

button:hover {
    background-color: blue;
    color: yellow;
}

.toDoList {
    list-style: none;
}

.todoDiv {
    border: 2px solid red;
    margin-top: 100px;
    padding: 20px;
}

.laboratoryTitle {
    display: flex;
    justify-content: center;
}

/* Aqui empieza el minujuego */
.square{
	width: 200px;
	height: 200px;
	border: 1px solid black;
}
.grid{
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-content: center;
	width: 618px;
	height: 618px;
}
.mole{
	background-image: url("https://static.wikia.nocookie.net/espokemon/images/b/b6/Diglett_de_Alola.png/revision/latest/top-crop/width/360/height/450?cb=20161114201323");
	background-size: cover;
	background-repeat: no-repeat;
}

.mole>img {
    width: 150px;
}